/*ANCHOR GOOGLE-FONTS*/
/*Installation police via CDN*/
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Fredericka+the+Great&family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


:root {
    --bleu1: linear-gradient(to bottom, #004788, #003878);
    --bleu1-shadow-color-top: 0,56,120;
    --bleu1-shadow-color-bot: 0,71,136;
    --primary: #f8ba3486;
    --light: #f5f5f5;
    --dark: #000000;
    --white: #b8b4b4;
    --header-height: 75px;
    --lighter: #000000b4;
    /*vh viewport height, 6% de la hauteur du viewport, changement dynamique de la hauteur du footer et du header*/
}

* {

    box-sizing: border-box;

    /* inclu le padding et la bordure dans la taille des boîtes */

    /* border: 1px dotted var(--white); */
    /* background-color: rgba(0, 0, 0, 0.1); */
}

img,video {
    width: 100%;
}

body {
    margin: 0 auto;
    font-size: large;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #f5f5f7;
}
.bgc{
    background-color: #f5f5f5;
}

.bdeffect{
    background: linear-gradient(200deg, rgba(119, 119, 119, 0.486) 0%, rgba(245, 245, 247, 0.952) 45%);
}

.title-height{
    min-height: calc(12% + -28vw);
    padding-top: 15%;
    padding-bottom: 21%;
    letter-spacing: 3px;
    font-size: 3vw;
}

.itemrow{
    width:100%;
}

.bounce{
    animation: bounce;
}

.bouncing-letters span {
    animation-timing-function: linear;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    display: inline-block;
}

@keyframes bounce {
    1%{
         text-transform: capitalize; font-family: 'Barrio';
    }
    10%{
        transform: rotateY(360deg);
    }
    20%,
    50%,
    80%
    {
        transform: scale(1, 1) ;
    }
    50% {
        transform: translateY(-5vh);
    }
    
    40% {
        transform: scale(1.75, 0.65);
    }
    45% {
        transform: scale(1.75, 0.65);
    }
    70% {
        transform: scale(1.25, 0.75);
    }
    90% {
        transform: scale(1.15, 0.85);
    }
    to {
        transform: scale(1, 1);
    }
}


span1::before{ 
    content: "";
    animation: contentsw 20s 4;
    animation-delay: 3s;
}

.type1{
    overflow: hidden;
    border-right: .10em solid rgba(0, 0, 0, 0);
    /* font-size: calc(1rem + 1vw); */
    width: 0;
    white-space: nowrap;
    animation:
        blink .5s 52,
        typing 8s steps(50, end) forwards 4;
        animation-delay: 3s;
}


/* @keyframes typing { */
    /* from { width: 0 }pause dans l'animation */
    /* 8%{ width:0 } */
    /* 16%{ width:100% } */
    /* 33%{ width:100% } */
    /* 42%{ width:0 } */
    /* 50%{ width:0 } */
    /* 58%{ width:100% } */
    /* 66%{ width:100% } */
    /* 75%{ width:0 }  */
    /* 83%{ width:0 }  */
    /* 91%{ width:100% }  */
    /* to { width:100% }  */
  /* } */
@keyframes typing {
    from { width: 0 }/*pause dans l'animation*/
    0%{ width:0 }
    49%{ width:100% }
    64%{ width:100% }
    75%{ width:0 }
    to{ width:0 }
    /* 97%{ width:100% }
    to{ width:100% } */
    
  }
  @keyframes contentsw {
    0% { content: "01I'm a full stack Web developper ! " }
    33% { content: "01I'm a full stack Web developper ! " }
    34% { content: "02Feel free to contact me ! " }
    66% { content: "02Feel free to contact me ! " }
    67% { content: "03I'll be happy to help !" }
    100% { content: "03I'll be happy to help !" }
  }
  @keyframes blink {
      From { border-right-color: rgb(0, 0, 0); }
        to { border-right-color: rgba(0, 0, 0, 0) }
  }
  

.main-header,
.main-footer {
    min-height: var(--header-height);
    background: var(--bleu1);
    color: var(--white);
    
}
aside {
    flex: 1 1 150px;
    max-width: min-content;
    background-color: #f5f5f7;
    margin-left: 20px;
    
}

.main-footer{
    z-index: 2;
    position: sticky;
    box-shadow: 0px -3px 13px -5px rgb(var(--bleu1-shadow-color-bot));
    
}

main {
    min-height: calc(100vh - 2 * var(--header-height));
    /*le main a un minimum de 100vh-2*la hauteur (header+footer) et peut s'agrandir */
    flex: 2 1 470px;
    z-index: 1;
    /* height:100vh; */

    /*parallax*/
    overflow-x: hidden; 
    overflow-y: auto;
    perspective: 2px;
    
}
.bgm {
    background-image: url('../images/bodybg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: #f5f5f5;
    /* height: 100vh; */
    position: relative;
    align-items: center;
    justify-content: center;
}

.pres1{
    border-left: 10px solid rgba(0, 0, 0, 0.555);
    margin-left: 1vw;
    padding-left: 1%;
    background-color: #f5f5f5;
}

.pres2{
    border-left: 10px solid rgba(0, 0, 0, 0.555);
    margin-left: 1vw;
    padding-left: 1%;
    background-color: #f5f5f500;
}

.paral{
    transform-style: preserve-3d;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fredericka the Great', cursive;
}*/

h2 {
    font-family: 'Barrio', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 1rem 0;
}

blockquote {
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 0.5rem;
    background-color: var(--light);
}

blockquote i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/*ANCHOR */
.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

/*ANCHOR FLEX-CONTAINER*/

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}
.f-wraprr{
    flex-wrap: wrap-reverse;
}
.f-nowrap{
    flex-flow: row wrap;
}
.g-1 {
    gap: 1rem;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}
.ac-c{
    align-content: center;
}
.reverse{
    flex-direction: row-reverse;
}

.f-dir-row{
    flex-direction: row;
}

/*ANCHOR FLEX-ITEMS*/
/*ANCHOR SIZING*/
.f-s {
    flex: 1 1 120px;
}

.f-m {
    flex: 1 1 300px;
}
.f-l {
    flex: 1 1 400px; 
}
/*ANCHOR SPACING*/
.p-1 {
    padding: 1rem;
}
.my-4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.mx {
    margin-left: 1.5rem;
}
.mauto{
    margin: auto;
}
.m1{
    margin: 0.2rem;
}
/*ANCHOR TYPO*/
.txt-ac {
    text-align: center;
}

.txt-ar{
    text-align: right;
}
/*ANCHOR COMPONENTS*/

.main-header{
    position: fixed;
    top:0;
    width:100%;
    z-index: 2;
    box-shadow: 0px 3px 13px -5px rgb(var(--bleu1-shadow-color-top));
    
}

.menu__link {
    display: inline-block;
    /*change de line à block, zone clickable plus grande*/
    text-decoration: none;
    color: var(--white);
    transition: color 500ms;
}

.menu__link:hover {
    color: var(--primary);

}

.sm__link {
    text-decoration: none;
    color: var(--dark);
    padding: 1rem;
}

.card {
    /* margin-top: 16px; */
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.41);
    position: sticky  !important;
    top: calc(var(--header-height) + 20px);
    background-color:rgba(124, 124, 124, 0.445);
    z-index: 1;

}

.card__img {
    height: 100%;
    object-fit: cover;
    filter: saturate(50%);
    margin: auto;
}

.blue-square {
    background-color: rgba(var(--bleu1-shadow-color-top), 0.369);
    position: absolute;
    top: 12px;
    right: 7px;
    left: 8px;
    bottom: 14px;
    mix-blend-mode: multiply;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgb(13, 79, 149), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sideleft > section:nth-child(2) {
    position: fixed;
}

.container{
    /* position: fixed; */
    overflow: hidden;
    /* height:3400px; */
    top:0px;
}
  
.sliding-background{
    position: absolute;
    top:-575px;
    background: url("../images/bg.jpg")repeat;
    background-size: contain;
    background-repeat: repeat;
    height:8080px;
    width:249px;
    z-index: 0;
    opacity: 1;
    animation: slide 60s linear infinite;
}

@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0,-1500px, 0);
    }
  }

.main-container{
    margin-top: var(--header-height);
    background-color: #f5f5f5;
}
.shadow {
    box-shadow: 0 4px 8px 0 rgb(238, 6, 6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*ANCHOR Parents grille*/
.form-contact {
    width:100%;
    display: grid;
    grid-template-areas:"nom nom prenom prenom"
                        "email email tel tel"
                        "subject subject subject subject"
                        "message message message message"
                        ". button button .";
    gap: 1rem;
}
/*ANCHOR Enfants grille*/
.form-contact__item--prenom{
    grid-area: prenom;
}
.form-contact__item--nom{
    grid-area: nom;
}
.form-contact__item--email{
    grid-area: email;
}
.form-contact__item--tel{
    grid-area: tel;
}
.form-contact__item--subject{
    grid-area: subject;
}
.form-contact__item--message{
    grid-area: message;
}
.form-contact__item--button{
    grid-area: button;
}
.form-contact__item > *{
    /*> selectionne les enfants directs*/
    width: 100%;
}