.bodyc{

    background-image:linear-gradient(to bottom, rgba(0, 71, 136,0.2), rgba(0, 56, 120,0.2)), url('../images/bodybg.jpg'); 
    background-repeat: no-repeat; 
    /* background-attachment:fixed; */
    background-size: cover;
    max-width: 100%;
    color:var(--white);
    /* font-family: Poppins; */
    
}
#main{
    max-width: 100%;
    padding:1rem;
}
#formulaire_contact{
    background: linear-gradient(to bottom, rgb(0, 71, 136), rgb(0, 56, 120));
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    border-radius: 6px;
    padding-top: 1px;
    padding-bottom: 60px;
    min-height:auto;
    
}
.group{
    max-width: 100%;
    height: auto;
    text-align: left;
    margin-top:20px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right:50px;
}
.group1{
    max-width: 100%;
    height: auto;
    text-align: left;
    margin-top:20px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right:50px;
    margin-right: -14px;
}
.group input{
    padding-left: 10px;
    border-radius: 6px;
    border-style: none;
    /* font-family: Poppins; */
    font-size: 16px;
    color: rgba(5, 5, 5, 0.705);
}
#dropdown{
    /* font-family: Poppins; */
    padding-left: 5px;
    font-size: 16px;
    color:rgba(5, 5, 5, 0.705);
    height: 37px;
    width: 620px;
    
}
#most-like{
    /* font-family: Poppins; */
    padding-left: 5px;
    font-size: 16px;
    color:rgba(5, 5, 5, 0.705);
    height: 37px;
    width: 620px;
}
.input-radio{
    display: inline-block;
    box-sizing: border-box;
    font-size: 30px;
}
label .input-radio {
   margin-bottom: 3px;
   margin-right: 7px;
}
.form{
    max-width: 100%;
    width: 620px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    
}
label{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 5px;
}
.input-textarea{
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    /* font-family: Poppins; */
    padding-left: 10px;
    resize: vertical;
    border-radius: 6px;
    border-style: none;
}
.submit-button {
    display: block;
    align-self: center;
    background: rgb(20, 175, 20);
    max-width: 100%;
    border-style: none;
    /* font-family: Poppins; */
    font-size: 16px;
    color: white;
    height: 50px;
    width:100%;
    border-radius: 6px;
    
}